.footer {
    background-color: $gray-dark;
    
    .footer__container {
        display: flex;
        flex-direction: column;
        align-items: center;    
        height: 100%;

        @media screen and (min-width: 1440px) {
            padding-left: 263px;
            padding-right: 263px;
        }
    }
}

.order-project {
    display: flex;
    box-sizing: border-box;
    border-radius: 139px;
    border: 1px solid $grey-light;
    margin-top: 78px;
    margin-bottom: 163px;

    @media screen and (max-width: 768px) {
        padding: 32px 0 32px 10px;
        width: 100%;
        justify-content: center;
    }
    @media screen and (min-width: 769px) and (max-width: 1200px) {
        padding: 42px 5%;
        width: 100%;
        justify-content: center;
    }
    @media screen and (min-width: 1201px) {
        padding: 42px 10%;
        justify-content: space-around;
    }

    .order-project__content {
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding-right: 12px;
        box-sizing: border-box;

        .order-project__ask {
            color: $white;
            text-align: center;
            font-family: DynaPuff;
            font-weight: 700;

            @media screen and (max-width: 768px) {
                font-size: 5vw;
            }        
            @media screen and (min-width: 769px) and (max-width: 1200px) {
                font-size: 42px;
            }        
            @media screen and (min-width: 1201px) {
                font-size: 48px;
            }
        }
    
        .order-project__book-call {
            color: $white;
            text-align: center;
            font-family: Manrope;
            font-weight: 500;

            & span {
                margin-left: 24px;
            }

            @media screen and (max-width: 768px) {
                font-size: 4vw;
            }        
            @media screen and (min-width: 769px) {
                font-size: 24px;
            }   
        }
    }    
}

.footer__social {
    display: flex;
    column-gap: 34px;
    margin-bottom: 21px;

    & li,
    & a {
        display: block;
    }
}

.copyright {
    color: $white;
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;

    @media screen and (max-width: 768px) {
        font-size: 3vw;
    }        
}