.header {
    background: $gray-dark;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.50);
    height: 92px;
    padding-top: 18px;
    padding-bottom: 18px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    .header__container {
        display: flex;
        justify-content: space-between;

        .header__logo {
            position: relative;

            &:active {
                top: 3px;
                left: 5px;
            }

            & svg {
                width: 100%;
                height: auto;
            }
        }

        .header__nav {
            display: flex;
            column-gap: 20px;
            justify-content: space-between;
            align-items: center;

            .header__nav-item {
                padding: 10px 16px;
                border-radius: 20px;
                border: 1px solid $white; 
                box-sizing: border-box;

                & a {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-family: Manrope;
                    color: $white;
                    font-size: 16px;
                    font-weight: 700;                    
                    gap: 12px;    
                }
            }

            @media screen and (max-width: 768px) {
                display: none;
            }        
            @media screen and (min-width: 769px) and (max-width: 1200px) {
                display: none;
            }        
            @media screen and (min-width: 1201px) {
                display: flex;
            }
        }

        .header__nav-burger {
            padding: 20px 20px;
            border-radius: 20px;
            border: 2px solid $white;
            background-color: transparent;
            cursor: pointer;
            position: relative;

            @media screen and (max-width: 768px) {
                display: block;
            }        
            @media screen and (min-width: 769px) and (max-width: 1200px) {
                display: block;
            }        
            @media screen and (min-width: 1201px) {
                display: none;
            }

            &:active {
                top: 3px;
                left: 5px;
            }
        }
    }
}