.hero {
    background: linear-gradient(253deg, $yellow-light -13.48%, #D6D6D6 125.48%);
    height: 800px;

    .hero__container {
        height: 100%;
        display: flex;
        align-items: end;
        padding-bottom: 130px;

        .hero__title {
            width: 60%;   
            
            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }
    }
}