.meet {
    background-color: $gray-dark;
    position: relative;
    overflow: hidden;

    &::after,
    &::before {
        content: "";
        width: 268px;
        height: 512px;
        flex-shrink: 0; 
        border-radius: 50%;
        border: 1px solid $grey-ellipse;
        position: absolute;
        top: -30px;
        
        @media screen and (max-width: 768px) {
            width: 167px;
            height: 320px;
            top: 80px;
            right: -130px;
        }    
        @media screen and (min-width: 769px) and (max-width: 1200px) {
            right: -150px;
        }    
        @media screen and (min-width: 1201px) {
            right: 0;
        }
    }

    &::after {
        transform: rotate(45deg);
    }

    &::before {
        transform: rotate(-45deg);
    }

    .meet__container {
        height: 470px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 40px;

        @media screen and (max-width: 768px) {
            width: 100%;
        }    
        @media screen and (min-width: 769px) and (max-width: 1200px) {
            padding-right: 25%;
        }    
        @media screen and (min-width: 1201px) {
            padding-right: 50%;
        }
    }
    .meet__title {
        color: $yellow;
        font-family: DynaPuff;
        font-size: 48px;
        font-weight: 700;

        @media screen and (max-width: 768px) {
            font-size: 36px;
        }
    }

    .meet__text {
        color: $white;
        font-family: Manrope;
        font-size: 16px;
        font-weight: 500;

        @media screen and (max-width: 768px) {
            font-size: 15px;
        }
    }

    .meet__statistics {
        display: flex;
        column-gap: 96px;

        @media screen and (max-width: 768px) {
            column-gap: 14px;
        }

        .meet__stat-item {
            display: flex;
            flex-direction: column;
            row-gap: 5px;

            .meet__numeric {
                color: $white;
                font-family: DynaPuff;
                font-size: 48px;
                font-weight: 700;

                @media screen and (max-width: 768px) {
                    font-size: 36px;
                }
            }

            .meet__attribute {
                color: $white;
                font-family: Manrope;
                font-size: 16px;
                font-weight: 700;

                @media screen and (max-width: 768px) {
                    font-size: 15px;
                }
            }
        }
    }
}