.project {
    background-color: $grey-middle; 
    height: auto;   

    .project__container {
        padding-top: 86px;
        padding-bottom: 86px;
        display: grid;
        width: 100%;
        row-gap: 63px;
        column-gap: 40px;

        @media screen and (max-width: 768px) {
            grid-template-rows: auto auto;
            grid-template-columns: 100%;
        }    
        @media screen and (min-width: 769px) and (max-width: 1200px) {
            grid-template-rows: auto auto;
            grid-template-columns: repeat(2, 1fr);
        }    
        @media screen and (min-width: 1201px) {
            grid-template-rows: auto auto;
            grid-template-columns: repeat(3, 1fr);
        }

        .project__card--third {
            @media screen and (max-width: 768px) {
                display: none;
            }    
            @media screen and (min-width: 769px) and (max-width: 1200px) {
                display: none;
            }    
        }

        .project__card--first {
            @media screen and (max-width: 768px) {
                display: none;
            }   
        }
    }
}

.project__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    background-color: $white-milk;
    border-radius: 24px;
    row-gap: 20px;
    position: relative;

    .project__image {
        width: 100%;
        height: 338px;
        object-fit: cover;
        margin-bottom: 20px;
        border-radius: 15px;

        @media screen and (max-width: 768px) {
            height: 363px;
        }    
        @media screen and (min-width: 769px) and (max-width: 1200px) {
            height: 448px;
        }    
    }

    .project__card-title {
        color: $gray;
        font-family: DynaPuff;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 22px;
        
        @media screen and (max-width: 768px) {
            font-size: 24px;
        } 
    }  

    .project__text {
        color: $black;
        font-family: Manrope;
        font-size: 16px;
        font-weight: 500;

        @media screen and (max-width: 768px) {
            font-size: 15px;
        } 
    }

    .project__circle {
        width: 56px;
        height: 56px;
        background-color: $white;
        position: absolute;
        top: 40px;
        right: 40px;
        border-radius: 50%;

        .project__arrow {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.project__card--general {
    width: 100%;
    padding: 24px 20px;

    @media screen and (max-width: 768px) {
        padding: 16px;
    }

    @media screen and (max-width: 768px) {
        grid-row: span 1;
        grid-column: span 1;
    }
    @media screen and (min-width: 769px) and (max-width: 1200px) {
        grid-row: span 1;
        grid-column: span 2;
    }
    @media screen and (min-width: 1201px) {
        grid-row: span 1;
        grid-column: span 3;
    }
    
    & .project__image--general {
        height: 498px;

        @media screen and (max-width: 768px) {
            height: 278px;
        }
    }

    & .project__card-title--general {
        font-size: 40px;
        font-weight: 600;

        @media screen and (max-width: 768px) {
            font-size: 32px;
        }
    }

    & .project__text--general {
        font-weight: 700;
    }
}