.design {
    background-color: $gray-dark;

    @media screen and (max-width: 768px) {
        height: 1260px;
    }
    @media screen and (min-width: 769px) and (max-width: 1200px) {
        height: 1112px;
    }
    @media screen and (min-width: 1201px) {
        height: 1220px;
    }

    .design__container {
        padding-top: 82px;
        height: 100%;
        
        .design__title {
            margin-bottom: 38px;
        }

        .design__content {
            display: grid;
            grid-template-rows: 414px 414px;
            grid-template-columns: repeat(2, 1fr);
            gap: 26px;

            @media screen and (max-width: 768px) {
                grid-template-rows: 325px 325px 325px;
                grid-template-columns: 1fr;
            }        
            @media screen and (min-width: 769px) and (max-width: 1200px) {
                grid-template-rows: 414px 325px;
            }

            .design__item {
                display: block;
                position: relative;

                .design__sprite {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 13px;
                filter: grayscale(100%);
            }

            .design__item--1 {
                // grid-row: span 1;
                // grid-column: span 2;
                grid-area: 1 / 1 / 2 / 3;

                @media screen and (max-width: 768px) {
                    grid-area: 1 / 1 / 2 / 2;
                }   
            }

            .design__item--2 {
                // grid-row: span 1;
                // grid-column: span 1;
                grid-area: 2 / 1 / 3 / 2;

                @media screen and (max-width: 768px) {
                    grid-area: 2 / 1 / 3 / 2;
                }  
            }

            .design__item--3 {
                // grid-row: span 1;
                // grid-column: span 1;
                grid-area: 2 / 2 / 3 / 3;

                @media screen and (max-width: 768px) {
                    grid-area: 3 / 1 / 4 / 2;
                }  
            }
        }
    }


}