.sense {
    background-image: url("../../images/content/bg/Rectangle_8.jpg");
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $grey-middle;
    position: relative;

    @media screen and (max-width: 768px) {
        height: 498px;
    }
    @media screen and (min-width: 769px) and (max-width: 1200px) {
        height: 600px;
    }

    &::after {
        content: "";
        background-color: #3C3C3C;
        opacity: 0.5;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .sense__container {
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;

        .sense__text {
            color: $white;
            text-align: center;
            font-family: DynaPuff;
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 20px;

            @media screen and (max-width: 768px) {
                font-size: 6vw;
            }
        }
    }
}