// @font-face {
//   font-family: "Gilroy-Light";
//   font-style: normal;
//   font-weight: 400;
//   src: url("../fonts/Gilroy-Light.woff2");
//   font-display: swap;
// }

// @font-face {
//   font-family: "Gilroy";
//   font-style: normal;
//   font-weight: 400;
//   src: url("../fonts/Gilroy-Regular.woff2");
//   font-display: swap;
// }

// @font-face {
//   font-family: "Gilroy-Regular";
//   font-style: normal;
//   font-weight: 400;
//   src: url("../fonts/Gilroy-Regular.woff2");
//   font-display: swap;
// }

// @font-face {
//   font-family: "Gilroy-Medium";
//   font-style: normal;
//   font-weight: 400;
//   src: url("../fonts/Gilroy-Medium.woff2");
//   font-display: swap;
// }

// @font-face {
//   font-family: "Gilroy-SemiBold";
//   font-style: normal;
//   font-weight: 400;
//   src: url("../fonts/Gilroy-SemiBold.woff2");
//   font-display: swap;
// }

// @font-face {
//   font-family: "Gilroy-Bold";
//   font-style: normal;
//   font-weight: 400;
//   src: url("../fonts/Gilroy-Bold.woff2");
//   font-display: swap;
// }

// @font-face {
//   font-family: "Inter";
//   font-style: normal;
//   font-weight: 400;
//   src: url("../fonts/Inter-Regular.woff2");
//   font-display: swap;
// }

// @font-face {
//   font-family: "Inter";
//   font-style: normal;
//   font-weight: 600;
//   src: url("../fonts/Inter-SemiBold.woff2");
//   font-display: swap;
// }
