body {
    font-style: normal;
    line-height: normal;
    font-family: 'DynaPuff', system-ui;
    font-family: 'Manrope', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
}

.inner {
    margin: 0 auto;
    box-sizing: border-box;

    @media screen and (max-width: 768px) {
        padding-left: 16px;
        padding-right: 16px;
    }

    @media screen and (min-width: 769px) and (max-width: 1200px) {
        padding-left: 32px;
        padding-right: 32px;
    }

    @media screen and (min-width: 1201px) {
        padding-left: 190px;
        padding-right: 190px;
    }
}

.h2 {
    font-family: DynaPuff;
    font-size: 80px;
    font-weight: 700;
    color: $white;

    @media screen and (max-width: 768px) {
        font-size: 10vw;
    }
}