<section class="meet container">
    <div class="inner">
      <div class="meet__container">
        <h2 class="meet__title">Meet Alex Johnsson</h2>
        <p class="meet__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna.
        </p>
        <ul class="meet__statistics">
          <li class="meet__stat-item">
            <p class="meet__numeric">39</p>
            <p class="meet__attribute">Happy Clients</p>
          </li>
          <li class="meet__stat-item">
            <p class="meet__numeric">50</p>
            <p class="meet__attribute">Sleek Projects</p>
          </li>
          <li class="meet__stat-item">
            <p class="meet__numeric">24</p>
            <p class="meet__attribute">App Designs</p>
          </li>
        </ul>
      </div>
    </div>
  </section>