<section class="project container">
    <div class="inner project__container">
      <a class="project__card project__card--general" href="#">
        <img class="project__image project__image--general" src="../images/content/s3-project/Frame 17.png" alt="">
        <p class="project__card-title project__card-title--general">Project: Banking Mobile App</p>
        <p class="project__text project__text--general">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna.
        </p>
        <div class="project__circle">
          <svg class="project__arrow" width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="fi-rr-arrow-up" clip-path="url(#clip0_7_71)">
            <path id="Vector" d="M16.8221 8.63377C16.8229 8.89796 16.9282 9.1511 17.115 9.3379C17.3018 9.52471 17.555 9.63001 17.8191 9.63079L22.9245 9.60251L8.48532 24.0416C8.29778 24.2292 8.19242 24.4835 8.19242 24.7488C8.19242 25.014 8.29778 25.2683 8.48531 25.4559C8.67285 25.6434 8.9272 25.7488 9.19242 25.7488C9.45764 25.7488 9.71199 25.6434 9.89953 25.4559L24.3316 11.0238L24.3316 16.1432C24.3311 16.2753 24.3567 16.4061 24.4069 16.5281C24.4572 16.6502 24.5311 16.7611 24.6245 16.8545C24.7178 16.9478 24.8287 17.0217 24.9508 17.072C25.0729 17.1223 25.2037 17.1479 25.3357 17.1473C25.5999 17.1466 25.853 17.0413 26.0398 16.8544C26.2266 16.6676 26.3319 16.4145 26.3327 16.1503L26.3398 10.6137C26.3393 9.81866 26.0233 9.05636 25.4611 8.49421C24.8989 7.93206 24.1366 7.61603 23.3416 7.61553L17.8191 7.63675C17.555 7.63754 17.3018 7.74283 17.115 7.92964C16.9282 8.11645 16.8229 8.36959 16.8221 8.63377Z" fill="#374957"/>
            </g>
            <defs>
            <clipPath id="clip0_7_71">
            <rect width="24" height="24" fill="white" transform="translate(16.9706) rotate(45)"/>
            </clipPath>
            </defs>
            </svg>
        </div>
      </a>
      <a class="project__card project__card--first" href="#">
        <img class="project__image" src="../images/content/s3-project/Frame 17_1.jpg" alt="#">
        <p class="project__card-title">Banking Mobile App</p>
        <p class="project__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna.
        </p>        
        <div class="project__circle">
          <svg class="project__arrow" width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="fi-rr-arrow-up" clip-path="url(#clip0_7_71)">
            <path id="Vector" d="M16.8221 8.63377C16.8229 8.89796 16.9282 9.1511 17.115 9.3379C17.3018 9.52471 17.555 9.63001 17.8191 9.63079L22.9245 9.60251L8.48532 24.0416C8.29778 24.2292 8.19242 24.4835 8.19242 24.7488C8.19242 25.014 8.29778 25.2683 8.48531 25.4559C8.67285 25.6434 8.9272 25.7488 9.19242 25.7488C9.45764 25.7488 9.71199 25.6434 9.89953 25.4559L24.3316 11.0238L24.3316 16.1432C24.3311 16.2753 24.3567 16.4061 24.4069 16.5281C24.4572 16.6502 24.5311 16.7611 24.6245 16.8545C24.7178 16.9478 24.8287 17.0217 24.9508 17.072C25.0729 17.1223 25.2037 17.1479 25.3357 17.1473C25.5999 17.1466 25.853 17.0413 26.0398 16.8544C26.2266 16.6676 26.3319 16.4145 26.3327 16.1503L26.3398 10.6137C26.3393 9.81866 26.0233 9.05636 25.4611 8.49421C24.8989 7.93206 24.1366 7.61603 23.3416 7.61553L17.8191 7.63675C17.555 7.63754 17.3018 7.74283 17.115 7.92964C16.9282 8.11645 16.8229 8.36959 16.8221 8.63377Z" fill="#374957"/>
            </g>
            <defs>
            <clipPath id="clip0_7_71">
            <rect width="24" height="24" fill="white" transform="translate(16.9706) rotate(45)"/>
            </clipPath>
            </defs>
            </svg>
        </div>
      </a>
      <a class="project__card project__card--second" href="#">
        <img class="project__image" src="../images/content/s3-project/Frame 17_2.jpg" alt="#">
        <p class="project__card-title">Save Planet Mobile app</p>
        <p class="project__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna.
        </p>        
        <div class="project__circle">
          <svg class="project__arrow" width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="fi-rr-arrow-up" clip-path="url(#clip0_7_71)">
            <path id="Vector" d="M16.8221 8.63377C16.8229 8.89796 16.9282 9.1511 17.115 9.3379C17.3018 9.52471 17.555 9.63001 17.8191 9.63079L22.9245 9.60251L8.48532 24.0416C8.29778 24.2292 8.19242 24.4835 8.19242 24.7488C8.19242 25.014 8.29778 25.2683 8.48531 25.4559C8.67285 25.6434 8.9272 25.7488 9.19242 25.7488C9.45764 25.7488 9.71199 25.6434 9.89953 25.4559L24.3316 11.0238L24.3316 16.1432C24.3311 16.2753 24.3567 16.4061 24.4069 16.5281C24.4572 16.6502 24.5311 16.7611 24.6245 16.8545C24.7178 16.9478 24.8287 17.0217 24.9508 17.072C25.0729 17.1223 25.2037 17.1479 25.3357 17.1473C25.5999 17.1466 25.853 17.0413 26.0398 16.8544C26.2266 16.6676 26.3319 16.4145 26.3327 16.1503L26.3398 10.6137C26.3393 9.81866 26.0233 9.05636 25.4611 8.49421C24.8989 7.93206 24.1366 7.61603 23.3416 7.61553L17.8191 7.63675C17.555 7.63754 17.3018 7.74283 17.115 7.92964C16.9282 8.11645 16.8229 8.36959 16.8221 8.63377Z" fill="#374957"/>
            </g>
            <defs>
            <clipPath id="clip0_7_71">
            <rect width="24" height="24" fill="white" transform="translate(16.9706) rotate(45)"/>
            </clipPath>
            </defs>
            </svg>
        </div>
      </a>
      <a class="project__card project__card--third" href="#">
        <img class="project__image" src="../images/content/s3-project/Frame 17_3.jpg" alt="#">
        <p class="project__card-title">Banking Mobile App</p>
        <p class="project__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna.
        </p>        
        <div class="project__circle">
          <svg class="project__arrow" width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="fi-rr-arrow-up" clip-path="url(#clip0_7_71)">
            <path id="Vector" d="M16.8221 8.63377C16.8229 8.89796 16.9282 9.1511 17.115 9.3379C17.3018 9.52471 17.555 9.63001 17.8191 9.63079L22.9245 9.60251L8.48532 24.0416C8.29778 24.2292 8.19242 24.4835 8.19242 24.7488C8.19242 25.014 8.29778 25.2683 8.48531 25.4559C8.67285 25.6434 8.9272 25.7488 9.19242 25.7488C9.45764 25.7488 9.71199 25.6434 9.89953 25.4559L24.3316 11.0238L24.3316 16.1432C24.3311 16.2753 24.3567 16.4061 24.4069 16.5281C24.4572 16.6502 24.5311 16.7611 24.6245 16.8545C24.7178 16.9478 24.8287 17.0217 24.9508 17.072C25.0729 17.1223 25.2037 17.1479 25.3357 17.1473C25.5999 17.1466 25.853 17.0413 26.0398 16.8544C26.2266 16.6676 26.3319 16.4145 26.3327 16.1503L26.3398 10.6137C26.3393 9.81866 26.0233 9.05636 25.4611 8.49421C24.8989 7.93206 24.1366 7.61603 23.3416 7.61553L17.8191 7.63675C17.555 7.63754 17.3018 7.74283 17.115 7.92964C16.9282 8.11645 16.8229 8.36959 16.8221 8.63377Z" fill="#374957"/>
            </g>
            <defs>
            <clipPath id="clip0_7_71">
            <rect width="24" height="24" fill="white" transform="translate(16.9706) rotate(45)"/>
            </clipPath>
            </defs>
            </svg>
        </div>
      </a>
    </div>
  </section> 