<section class="sense container">
    <div class="inner sense__container">
        <p class="sense__text">“Good design is like a refrigerator - when it works,
            no one notices, but when it doesn't, it sure stinks.”
        </p>
    </div>
</section>