// BASE COLORS:
$white: #FFFFFF;
$black: #000000;

// ADDITIONAL COLORS:
$yellow: #FAEB49;
$gray: #565656;
$grey-light: #F2F2F2;

// bacground-color:
$yellow-light: #FFEE32;
$gray-dark: #202020;
$grey-middle: #3C3C3C;
$grey-ellipse: #737373;
$white-milk: #FFFEF2;

